<!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Font Awesome -->

  {{ style('assets-admin/plugins/fontawesome-free/css/all.min') }}

  <!-- Ionicons -->
  {{ style('https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min') }}

  <!-- Tempusdominus Bbootstrap 4 -->
  {{ style('assets-admin/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min') }}

  <!-- iCheck -->
  {{ style('assets-admin/plugins/icheck-bootstrap/icheck-bootstrap.min') }}

  <!-- JQVMap -->
  {{ style('assets-admin/plugins/jqvmap/jqvmap.min') }}

  <!-- Theme style -->
  {{ style('assets-admin/dist/css/adminlte.min') }}
  
  <!-- overlayScrollbars -->
  {{ style('assets-admin/plugins/overlayScrollbars/css/OverlayScrollbars.min') }}
  
  <!-- Daterange picker -->
  {{ style('assets-admin/plugins/daterangepicker/daterangepicker') }}
  
  <!-- summernote -->
  {{ style('assets-admin/plugins/summernote/summernote-bs4') }}

  <!-- Google Font: Source Sans Pro -->
  {{ style('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700') }}

  
<link rel="stylesheet" href="{{ assetsUrl('assets-admin/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css')}}">
<link rel="stylesheet"
  href="{{ assetsUrl('assets-admin/plugins/datatables-responsive/css/responsive.bootstrap4.min.css')}}">